@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .select-category {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("./assets/icon/arrow-down.svg") white no-repeat 98.5% !important;
    background: url("./assets/icon/arrow-down.svg") white no-repeat calc(100% - 10px)
  }
}

@layer components {
  .headline-1 {
    /* Headline/Headline 1 */
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 150%;
  }
  .headline-2 {
    /* Headline/Headline 2 */
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
  }
  .headline-3 {
    /* Headline/Headline 3 */
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
  }

  .title-1 {
    /* Title/Title 1 */
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
  }
  .title-2 {
    /* Title/Title 2 */
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  .title-3 {
    /* Title/Title 3 */
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }

  .label-1 {
    /* Label/Label 1 */
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
  }
  .label-2 {
    /* Label/Label 2 */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
  }
  .label-3 {
    /* Label/Label 3 */
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
  }

  .body-1 {
    /* Body/Body 1 */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .body-2 {
    /* Body/Body 2 */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
  .body-3 {
    /* Body/Body 3 */
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }
  .body-4 {
    /* Body/Body 4 */
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }
}
